<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 align="center"  >Add a new Customer</h1>

<form method="post">
    <table th:object="${customer}">
        <tr>
            <td>Name</td>
            <td ><input th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td ><input th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Province</td>
            <td>
                <select th:field="*{province}">
    <option th:each="p : ${provinceList}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>

    </table>
<button type="submit">Submit</button>
</form>
</body>
</html>